@font-face {
  font-family: "Nidus Sans";
  src: url("../gfx/nidsans-webfont.woff2") format("woff2"), url("../gfx/nidsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#matrix-body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(30, 39, 15);
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 206, 0);
}

.matrix-scroller-container {
  margin: 0;
  padding: 0;
  height: 110vh;
  overflow: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 5px rgb(0, 206, 0);
  filter: blur(1px);
  width: 640px;
  flex-shrink: 0;
}

.matrix-scroller {
  height: 110vh;
  position: absolute;
  width: 18px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  flex-shrink: 0;
  color: rgb(0, 206, 0);
}

#matrix-scroller-container-1 {
  top: -10;
  left: 0;
  z-index: 1;
  opacity: 0.1428571429;
  font-size: 10px;
}

#matrix-scroller-container-2 {
  top: -5;
  left: 3;
  z-index: 2;
  opacity: 0.2857142857;
  font-size: 11px;
}

#matrix-scroller-container-3 {
  top: 0;
  left: 6;
  z-index: 3;
  opacity: 0.4285714286;
  font-size: 12px;
}

#matrix-scroller-container-4 {
  top: 5;
  left: 9;
  z-index: 4;
  opacity: 0.5714285714;
  font-size: 13px;
}

#matrix-scroller-container-5 {
  top: 10;
  left: 12;
  z-index: 5;
  opacity: 0.7142857143;
  font-size: 14px;
}

#matrix-scroller-container-6 {
  top: 15;
  left: 15;
  z-index: 6;
  opacity: 0.8571428571;
  font-size: 15px;
}

#matrix-scroller-container-7 {
  top: 20;
  left: 18px;
  z-index: 7;
  opacity: 1;
  font-size: 16px;
}

@keyframes matrix-text-animation {
  0% {
    transform: translateY(-110vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
.matrix-hscroller-container {
  margin: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
  position: absolute;
  left: 100vw;
  z-index: 8;
  font-family: "Nidus Sans";
  animation-fill-mode: forwards;
}

#matrix-hscroller-container-1 {
  font-size: 56pt;
  font-weight: heavy;
}

#matrix-hscroller-container-2 {
  font-size: 39pt;
  font-weight: bold;
}

#matrix-hscroller-container-3 {
  font-size: large;
}

@keyframes matrix-hscroller-animation {
  0% {
    left: 100vw;
  }
  100% {
    left: 24pt;
  }
}
@keyframes matrix-hscroller-animation-1 {
  0% {
    left: 100vw;
  }
  100% {
    left: 36pt;
  }
}
@keyframes matrix-hscroller-animation-2 {
  0% {
    left: 100vw;
  }
  100% {
    left: 48pt;
  }
}