@font-face {
  font-family: "Nidus Sans";
  src: url("../gfx/nidsans-webfont.woff2") format("woff2"), url("../gfx/nidsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[id^=matrix-] {
  margin: 0;
  padding: 0;
  position: fixed;
}

[class^=matrix-] {
  margin: 0;
  padding: 0;
}

#matrix-body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  max-width: 100vw;
  overflow: hidden;
  position: fixed;
  background-color: rgb(30, 39, 15);
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 206, 0);
}

.matrix-rain-container {
  height: 110vh;
  overflow: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 5px rgb(0, 206, 0);
  filter: blur(1px);
  width: 821px;
  flex-shrink: 0;
}

#matrix-rain-container-1 {
  left: 0;
  top: -10;
  z-index: 1;
  font-size: 10px;
  opacity: 0.1428571429;
}

#matrix-rain-container-2 {
  left: 3;
  top: -5;
  z-index: 2;
  font-size: 11px;
  opacity: 0.2857142857;
}

#matrix-rain-container-3 {
  left: 6;
  top: 0;
  z-index: 3;
  font-size: 12px;
  opacity: 0.4285714286;
}

#matrix-rain-container-4 {
  left: 9;
  top: 5;
  z-index: 4;
  font-size: 13px;
  opacity: 0.5714285714;
}

#matrix-rain-container-5 {
  left: 12;
  top: 10;
  z-index: 5;
  font-size: 14px;
  opacity: 0.7142857143;
}

#matrix-rain-container-6 {
  left: 15;
  top: 15;
  z-index: 6;
  font-size: 15px;
  opacity: 0.8571428571;
}

#matrix-rain-container-7 {
  left: 18;
  top: 20;
  z-index: 7;
  font-size: 16px;
  opacity: 1;
}

.matrix-rain-column {
  height: 110vh;
  position: absolute;
  width: 18px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  flex-shrink: 0;
  color: rgb(0, 206, 0);
  font-family: "Courier New", Courier, monospace;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: matrix-rain-animation;
}

@keyframes matrix-rain-animation {
  0% {
    transform: translateY(-110vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
.matrix-hscroller-container {
  flex-direction: row;
  display: flex;
  position: absolute;
  left: 100vw;
  z-index: 8;
  font-family: "Nidus Sans";
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#matrix-hscroller-container-1 {
  top: 30vh;
  animation-name: matrix-hscroller-animation-1;
  animation-duration: 5s;
  font-size: 55.7103064067pt;
  font-weight: 900;
}

@keyframes matrix-hscroller-animation-1 {
  0% {
    left: 100vw;
  }
  100% {
    left: 24pt;
  }
}
/* had to resort to browser calc() function due to technical reasons,
* e.g. because 'vh' and 'pt' units cannot be added together in SASS. */
#matrix-hscroller-container-2 {
  top: calc(30vh + 55.7103064067pt + 2pt);
  animation-name: matrix-hscroller-animation-2;
  animation-duration: 5.25s;
  font-size: 38.7954779991pt;
  font-weight: 800;
}

@keyframes matrix-hscroller-animation-2 {
  0% {
    left: 100vw;
  }
  100% {
    left: 36pt;
  }
}
/* had to resort to browser calc() function due to technical reasons,
* e.g. because 'vh' and 'pt' units cannot be added together in SASS. */
#matrix-hscroller-container-3 {
  top: calc(30vh + 55.7103064067pt + 2pt + 38.7954779991pt + 2pt);
  animation-name: matrix-hscroller-animation-3;
  animation-duration: 5.5s;
  font-size: 27.0163495815pt;
  font-weight: 700;
}

@keyframes matrix-hscroller-animation-3 {
  0% {
    left: 100vw;
  }
  100% {
    left: 48pt;
  }
}
/* had to resort to browser calc() function due to technical reasons,
* e.g. because 'vh' and 'pt' units cannot be added together in SASS. */
#matrix-hscroller-container-4 {
  top: calc(30vh + 55.7103064067pt + 2pt + 38.7954779991pt + 2pt + 27.0163495815pt + 2pt);
  animation-name: matrix-hscroller-animation-4;
  animation-duration: 5.75s;
  font-size: 18.8136139147pt;
  font-weight: 600;
}

@keyframes matrix-hscroller-animation-4 {
  0% {
    left: 100vw;
  }
  100% {
    left: 60pt;
  }
}
#matrix-text {
  position: fixed;
  top: 0;
  left: 0;
  animation-name: matrix-text-tilt;
  animation-duration: 3s;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: 55vh 500px;
}

@keyframes matrix-text-tilt {
  0% {
    transform: rotate(0deg);
  }
  67% {
    transform: rotate(90deg) translate(0px, 50vh);
  }
  100% {
    transform: rotate(10deg) translate(100vw, 0vh);
  }
}